div.bordes {
    width: 80%; /* Ancho del contenido principal */
    height: max-content;
    margin: 0 auto; /* Centrar el contenido en la página */
    border-left: 150px transparent; /* Borde izquierdo */
    border-right: 150px transparent; /* Borde derecho */
    padding: 20px; /* Espaciado interior para separar el contenido del borde */
}
div.encabezado h1 {
    color: #000000;
    font-size: 50px;
    margin-top: 10px;
    text-align: center;
}
div.registro-de-clientes h2{
    color: #000000;
    font-size: 30px;
}
.texto-con-linea {
    display: flex; /* Utiliza un contenedor flexible para alinear elementos en línea */
    align-items: center; /* Alinea verticalmente el texto y la línea en el centro */
} 
.linea-horizontal {
    flex-grow: 1; /* Hace que la línea ocupe todo el espacio restante disponible */
    border: none; /* Quita el borde predeterminado */
    border-top: 3px solid #5f5d5d; /* Establece el estilo, color y grosor de la línea */
    margin-left: 10px; /* Agrega margen izquierdo para separar el texto de la línea */
}
div.registro-clientes {
    color: red;
}
div.tabla-registro table{
    color: #000000;
    font-size: 20px;
    font-weight: bolder;
    margin-left: 30px;
    border-collapse: separate;
    border-spacing: 220px 20px;
}
div.tabla-registro table td{
    width: 500px;
}

div.tabla-registro input{
    border-radius: 5px;
    padding: 10px;
    background-color: #f2f2f2;
    box-shadow: 0 0 5px rgb(30, 255, 0);
    text-transform: uppercase;
}

div.sub1{
    color: #5f5d5d;
    font-size: 16;
    font-weight: normal;
    margin-left: 30px;
}
div.sub2{
    color: #5f5d5d;
    font-size: 16;
    font-weight: normal;
    margin-left: 30px;
}

div.tabla-registro textarea{
    width: 300px;
    height: 70px;
    box-shadow: 0 0 5px rgb(30, 255, 0);
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    font-size: 16px;
    margin-top: 3px;
    border-color: #000000;
    resize: none;
}

div.sub3{
    color: #5f5d5d;
    font-size: 16;
    font-weight: normal;
    margin-left: 30px;
}

div.botones input{
    color: #f2f2f2;
    background-color: #4354a8;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #000000;
    border-radius: 5px;
    margin-left: 400px;
    cursor: pointer;
    margin-top: 20px;
}
body{
    background-image: url('fondo.jpg');
    background-size: cover;
}